
/*základní barvy*/
$primary:       #FCAE00;
$secondary:     #a36f38;
$terciary:      #ffe066;
$black:         #040404;
$light:       #CDCDCD;
$hover:         #FFE066;
$prihlaska-bg:   #d9c5a1;


/*barvy background*/
$sopka-primary-bg:       $primary;
$sopka-secondary-bg:   #fffae6;
$sopka-terciary-bg:    #fff5ca;
$sopka-hover-bg:       $hover;

/*barvy textu*/
$sopka-primary-text:     $black;
$sopka-secondary-text:   $secondary;
$sopka-terciary-text:    $terciary;

/*barvy neutralní*/
$sopka-neutral-primary:    #5A5A5A;
$sopka-neutral-secondary:  #757575;
$sopka-neutral-terciary:   #b3b3b3;

/*barvy border*/

$sopka-border-primary: $black;
$sopka-border-secondary: #767676;
$sopka-border-terciary: #D9D9D9;

/*font*/
$font-family-sans-serif:  'Nunito', sans-serif;

/*velikosti písma*/
$font-site-base: 1rem;

$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;
$small-font-size: 0.875rem;

/*tloušťky písma*/
$font-weight-normal: 400;
$font-weight-bold: 700;

/*barva písma*/
$body-color: $black;

/*akordeon*/
$accordion-bg: $sopka-secondary-bg;
$accordion-button-active-bg: $sopka-secondary-bg;

$accordion-color: $sopka-primary-text;
$accordion-button-active-color: $sopka-secondary-text;

$accordion-icon-color: $black;
$accordion-icon-active-color: $black;

$accordion-border-color: $sopka-border-terciary;
$accordion-border-radius: 0.5rem;

$accordion-button-focus-box-shadow: none;
$accordion-button-focus-border-color: transparent;



/*import funkcí*/
@import "../bootstrap/functions";

/*import proměnných*/
@import "../bootstrap/variables";

@import "../bootstrap/variables-dark";
@import "../bootstrap/maps";

/*import mixinů - responzivita*/
@import "../bootstrap/mixins";

/*import pomocných tříd- spacing apod.*/
@import "../bootstrap/utilities";

@import "../bootstrap/root";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/containers";
@import "../bootstrap/grid";

@import "../bootstrap/buttons";
@import "../bootstrap/forms";
@import "../bootstrap/nav";
@import "../bootstrap/navbar";
@import "../bootstrap/card";
@import "../bootstrap/accordion";
@import "../bootstrap/transitions";
@import "../bootstrap/close";
@import "../bootstrap/modal";
@import "../bootstrap/offcanvas";
@import "../bootstrap/tables";

@import "../bootstrap/helpers";
@import "../bootstrap/utilities/api";
@import "gutenberg";

.hero-h1{
    font-size: 4.5rem;
    font-weight: $font-weight-bold;
    color: $black;
}

h1{
    color: $black;
    font-weight: $font-weight-bold;
}

h2{
    color: $sopka-neutral-secondary;
    font-weight: $font-weight-normal;
}

h3{
    color: $sopka-secondary-text;
    font-weight: $font-weight-bold;
}

h4{
    color: $sopka-primary-text;
    font-weight: $font-weight-normal;
}

h5{
    color: $sopka-primary-text;
    font-weight: $font-weight-normal;
}

h6{
    color: $sopka-primary-text;
    font-weight: $font-weight-normal;
}

// nastavení contentu stránky
html,body{
    height: 100%;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.obsah-stranky{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

//úprava akordeonu
.accordion-button{
    font-size: $h4-font-size;
}

.accordion-item{
    margin-bottom: 1rem;
}

// barvy accordeonů
.content > .wp-block-group:nth-child(odd) .accordion-button, .wp-block-group:nth-child(odd) .accordion-item {
    background-color: $sopka-terciary-bg;
}


// upravení tlačítek
.btn{
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border-width: 0.15rem;
    transition: all 0.1s ease-in-out;
    color: $sopka-primary-text;
}

.btn-primary{
    font-weight: $font-weight-bold;
    border-color: $sopka-border-primary;

    &:hover,&:active {
        background-color: $hover !important;
        border-color: $sopka-border-primary !important;
    }
}

.btn-secondary{
    @include button-variant($primary, $primary, $black);
    border-color: $sopka-border-primary;
    font-weight: $font-weight-normal;

    &:hover,&:active{
        background-color: $hover !important;
        border-color: $sopka-border-primary !important;
    }
}

.btn-light{
    border-color: $sopka-border-secondary;

    &:hover,&:active {
        background-color: $sopka-neutral-terciary !important;
        border-color: $sopka-border-secondary !important;
    }
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    > .btn{
        width: 100%;
        @include media-breakpoint-up(md){
            flex: 1 0 0%;
            width: auto;
        }
    }
}

//nastavení pozadí pro footer
.bg-hover{
    background-color: $hover;
}
//pozadí pro copyright banner
.bg-copyright{
    background-color: $sopka-secondary-bg;
}

// stylování blocků pro obsah
.content{
    flex: 1 0 auto;

    display:flex;
    flex-direction: column;
    gap: 0 !important;
    width: 100%;
    overflow-x: hidden;
}

.content > .wp-block-group{
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 3rem;

    &:nth-child(odd){
        background-color: $sopka-secondary-bg;
    }
    &:nth-child(even){
        background-color: $sopka-terciary-bg;
    }

    .wp-block-group__inner-container{
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .container, .areoi-element.container{
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        max-width: 1320px;
        text-align: left;
    }

    .row{
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.content > .wp-block-group:first-child{
    text-align: center;

    .container, .areoi-element-container{
        text-align: center;
    }
}

.content > .wp-block-group:last-child {
  flex: 1 0 auto;
}

// vypnutí zaoblení obrázků
figure.wp-block-image img,.wp-block-image img {
    border-radius: 0 !important;
}
//vypnutí marginu pro spodek block-image
.wp-block-image{
    margin: 0 !important;
}

// zarovnání doleva pro obrázky hlavně
.col:nth-child(odd){
    padding-left: 0 !important;
}
.col:nth-child(even){
    padding-right: 0 !important;
}
//přerovnání paddingu a margin-bottom pro mobil
@include media-breakpoint-down(md){
    .wp-block-image{
        margin-bottom: 1.5rem !important;
    }
    .col{
        padding: 0;
    }
};

// hero obrázek
.hero-obrazek{
    flex: 0 0 400px;
    width: 100%;
    background-image: var(--hero-img);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

//stylizace bloku Media with content - avantary
.wp-block-media-text{
    img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
    }
    .wp-block-media-text__content {
        padding: 0 !important;
        padding-left: 1rem !important;
    }
}
// přepsání nastavení media with content nastavení - kvůli kolizi obrázek/content
@include media-breakpoint-down(xxl) {
    .wp-block-media-text.is-stacked-on-mobile {
        grid-template-columns: 0.5fr !important;
        grid-template-rows: auto auto;
    }

    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
        margin-bottom: 1.5rem;
    }

}

// přepsání stylizace tabulky
.wp-block-table{
    background-color: transparent !important;
    th, td, tr{
        background-color: transparent !important;
        border-style: none !important;
    }
}
.table{
    --bs-table-striped-bg: transparent !important;
    --bs-table-hover-bg: none !important;
}

// stylizace headeru

.header{

    .navbar{
        padding: 0;
        min-height: 96px;
        align-items: stretch;
        border-top: 1.25px solid $sopka-border-primary;
        border-bottom: 1.25px solid $sopka-border-primary;
    }

    .container-fluid{
        align-items: stretch;
        height: auto;
        display: flex;
        padding-right: 0;
    }

    .navbar-collapse{
        align-self: stretch;
        height: auto;
        padding: 0;
    }

    .navbar-nav{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0,1fr));
        grid-auto-flow: column;
        padding: 0;
        margin: 0;
    }

    .nav-item{
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 100%;
        position: relative;
        margin: 0;
    }

    .nav-link{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        
        
        
        color:$sopka-primary-text;
        font-weight: $font-weight-normal;
        text-align: center;
        padding: 0 0.5rem;

        &:hover, &.show{
            background-color: $hover;
        }
    }

    @media all and (min-width: 992px){
        .dropdown-menu{
        background-color: $sopka-secondary-bg;
        border: 1px solid $sopka-neutral-primary;
        border-top: none;
        padding:0;
        margin:0;        

        position: absolute;
        top: 101%;
        left:0;
        min-width: 100%;
        width: max-content;
        z-index: 1000;
        display:none;

        .dropdown-item{
            color: $sopka-primary-text;
            padding: 1rem 1.5rem;
            text-decoration: none;
            display: block;
            width: 100%;
            
            &:hover{
                background-color: $hover;
            }
        }
    }
    .dropdown-menu.show{
        display:block;
    }
        
    }

    .nav-item.nav-btn-cta{
        .nav-link{
            background-color: $secondary;
            color:$terciary;

            &:hover{
                background-color: $hover;
                color:$sopka-primary-text;
            }
        }
    }
// mobile verze menu
    @include media-breakpoint-down(lg){

        .navbar-toggler{
            grid-column: 1;
            justify-self: start;
            padding: 1rem;

            .bi{
                font-size: 2.5rem;
            }
            .bi-x-lg{
                display: none;
            }
        }
        .navbar-toggler[aria-expanded="true"]{
            .bi{
                display:none;
            }
            .bi-x-lg{
                display: block;
            }
        }

        .navbar-brand{
            grid-column: 2;
            justify-self: center;
            margin:0;
            text-align: center;
        }
        .header-mobile-logo{
            grid-column: 3;
            justify-self: end;
            margin-right: 1rem;
        }

        .navbar{
            height: 96px;
        }
        .container-fluid{
            height: 100%;
            align-items: center;
            display:grid;
            grid-template-columns: auto 1fr auto;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

        .navbar-collapse{
            position: fixed;
            top: 96px;
            left:0;
            right: 0;
            bottom: 0;
            height: auto;
            background-color: $sopka-primary-bg;
            z-index: 1050;
            overflow-y: auto;
            padding: 0;
        }
        
        .nav-item.dropdown > .nav-link{
            position: relative;
            padding-right: 3rem;
        }

        .nav-item.dropdown > .nav-link::after{
            font-family: "bootstrap-icons";
            content: "\F282";
            position: absolute;
            right: 1.5rem;
            transition: transform .15s ease-in-out;
        }

        .nav-item.dropdown > .nav-link.show::after{
            transform: rotate(-180deg);
        }

        .dropdown-menu{
            position: static;
            top: auto;
            left: auto;
            min-width: 100%;
            width: 100%;
            background-color: $sopka-terciary-bg;
            padding: 0;
            margin: 0;
            
            max-height: 0;
            opacity:0;
            overflow: hidden;
            visibility: hidden;
            transition: 0.35s;
        }


        .dropdown-menu.show {
            max-height: 500px;
            visibility: visible;
            opacity:1;
        }

        .dropdown-item {
            color: $sopka-primary-text;
            text-decoration: none;
            padding: 1.25rem 1.5rem 1.25rem 3rem;

            &:hover{
                background-color: $hover;
            }
        }
        
        .navbar-nav{
            display: flex !important;
            flex-direction: column;
            align-items: stretch !important;
            gap: 0;
            height: auto;
        }

        .nav-item{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            height: auto;
        }

        .nav-link{
            justify-content: flex-start;
            padding: 1.5rem 1.5rem;
            height: auto;
        }
        @include media-breakpoint-down(sm){
            .navbar-toggler{
            padding: 0;
            padding-left: 0.25rem;
            padding-right: 0.5rem;
            .bi{
                font-size: 2rem;
            }
            .bi-x-lg{
                font-size: 2rem;
            }

        }
        }
    }
}


// stylování přihlášky - stav zavřeno
.prihlaska-zavreno{
    width: 100%;
    margin: 0 auto;

    background-color: $prihlaska-bg;
    border-radius: 0.75rem;
    border: 1px solid $sopka-border-primary;
    box-shadow: 0 4px 7px $black;

    padding: 3rem 3rem;

    h1{
        margin-bottom: 3rem;
    }

    @include media-breakpoint-down(md){
        padding: 2rem 1.5rem;
        h1{
            margin-bottom: 2rem;
        }
    }
}
.page-template-page-prihlaska{
    .obsah-stranky{
        background-color: $sopka-secondary-bg;
        justify-content: center;
    }

    .content{
        flex: 0 0 auto;
    }

    .wp-block-group{
        background-color: transparent;
    }
}
